.footer-section {
  display: flex;
  justify-content: space-between;
}
.footer-links {
  flex-grow: 1;
}
.footer-links li {
  display: flex;
  justify-content: center;
  color: #fff;
}
.copyright-statement {
  flex-grow: 5;
}
