.card-img {
  width: 100%;
  height: 180;
}

.card-title {
  text-transform: capitalize;
  letter-spacing: normal;
}

.card {
  overflow: hidden;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.channel-title {
  font-weight: bold;
  color: var(--primary-color);
}
