.page-number,
.page-number-active {
  font-size: 16px;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  list-style: none;
}
.page-number {
  color: red;
  background: #fff;
}
.page-number-active,
.pagination .page-number:hover {
  color: #fff;
  background: grey;
}
.pagination .active:hover {
  color: grey;
  background: #fff;
}
