.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  gap: 10px;
  list-style: none;
}

.page-number {
  font-size: 16px;
  font-weight: 600;
  color: red;
  background: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.page-number-active {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background: grey;
  padding: 10px 20px;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.5s ease;
}

.pagination .page-number:hover {
  color: #fff;
  background: grey;
}

.pagination .active:hover {
  color: grey;
  background: #fff;
}
